<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onCloseSidenav()">
        <mat-icon>home</mat-icon>
        <span class="navigation-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/system" (click)="onCloseSidenav()">
        <mat-icon>wb_sunny</mat-icon>
        <span class="navigation-caption">Systems</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onCloseSidenav()">
        <mat-icon>lock</mat-icon>
        <span class="navigation-caption">Login</span>
    </a>
    <a mat-list-item routerLink="/" (click)="onCloseSidenav()">
        <mat-icon>exit_to_app</mat-icon>
        <span class="navigation-caption">Logout</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="onCloseSidenav()">
        <mat-icon>account_box</mat-icon>
        <span class="navigation-caption">Signin</span>    
    </a>
</mat-nav-list>