<mat-card fxFlex fxFill>
    <mat-card-header>
        <div fxFlex fxLayoutAlign="flex-end">
            <button mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon" (click)="onCloseCard()">close</mat-icon>
            </button>
        </div>
        <mat-card-title>{{ system.name }}</mat-card-title>
        <mat-card-subtitle>{{ system.type }} | {{ system.status }}</mat-card-subtitle>
    </mat-card-header>
    <app-agm-map [markers]="[{lat: system.lat, long: system.long}]"></app-agm-map>
    <mat-card-content>
        <div><app-chart></app-chart></div>
    </mat-card-content>
    <!--mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions-->
</mat-card>