<mat-card class="example-card">
    <mat-card-header>
        <div fxFlex fxLayoutAlign="flex-end">
            <button mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon" (click)="onCloseCard()">close</mat-icon>
            </button>
        </div>
        <mat-card-title>{{ system.name }}</mat-card-title>
        <mat-card-subtitle>{{ system.type }}</mat-card-subtitle>
    </mat-card-header>
    <div><p>{{ system.lat }} | {{ system.long }}</p></div>
    <agm-map [latitude]="system.lat" [longitude]="system.long">
        <agm-marker [latitude]="system.lat" [longitude]="system.long"></agm-marker>
    </agm-map>
    <mat-card-content>
        <div fxFlex fxLayout="column"  class="example-container">
            <mat-form-field>
                <input matInput placeholder="Input">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="verifyOn">
            </mat-form-field>
            
            <div><p>Qui ci va il grafico</p></div>

            <mat-form-field>
                <mat-select placeholder="Status">
                <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card-content>
    <!--mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions-->
</mat-card>