a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-caption {
    display: inline-block;
    padding-left: 5px;
}